* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
 /* !основной шрифт и жирность подключаем в body */
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: white;
  font-size: 30px;
}

.btn {
 font-size: 70px;
}
.btn:hover {
  color: red;
}

.container-button {
  width: 50%;
  margin: 10px auto;
   text-align: center;
}

.parent {
  position: relative;
  width: 50%;
  margin: 20px auto;
  padding: 50px;
  background-color: darkmagenta;
}

.box {
  // *блок занимает 100% своего родителя
  width: 100%;
  height: 100px;
}

.box1 {
  // *можем двигать блок
  // position: relative;
  // *визически блок остается на своем месте, 
  // *сдвигается только визуально
  // top: 50px;
  // left: 100px;
  // если напишем так, все сдвинется вниз
  // margin-top: 50px;
  // *блок полностью теряет свое положение
  // *его место занимает блок 2 
  // *блок 1 находится сверху, над ним
  position: absolute;
  // !центрируем блок 1 в блоке Родитель
  top: 50%;
  left: 50%;
  // *занимает левый верхний угол,
  // *от родителя parent (в нем указали position: relative;)
  // *если не укажем будет от body
  // top: 0;
  // left: 0;
  // *сбрасывает заданную ширину

  width: unset;

  transform: translate(-50%, -50%);

  background-color: red;
}

.small-block1 {
  position: absolute;
  bottom: 0;
  left: 0;

  background-color: yellowgreen;
}

.box2 {
  // *общие св-ва static и fixed
  // *физически он остается в родителе
  position: sticky;
  top: 50px;
  left: 0;

  background-color: green;
}

.box3 {
  background-color: blue;
}

.box4 {
  // !позиционирует относительно окна браузера
  position: fixed;
  bottom: 0;
  left: 0;

  background-color: orange;
}

.small-block2 {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  background-color: yellowgreen;
}

.box5 {
  background-color: greenyellow;
}

.box6 {
  background-color: orange;
}

.test {
  max-width: 800px;
  margin: 0 auto;

  background-color: chartreuse;
}

.picture {
  // float: left;
  float: right;
}

.img {
  max-width: 200px;
}

p {
  font-size: 20px;
}

//  !Обтекает только текст (строчный элемент)
//  !блочный проваливается на задний план 
.box-pic {
  padding: 10px;

  background-color: red;
}

.item {
  float: left;

  width: 50px;
  height: 50px;
  margin: 20px;
  margin-top: 35px;

  background-color: green;
}
